- content_for :title do
  = @title || 'MitdacTV - Xem Phim Nhanh, Xem Phim Online, Phim VietSub, Thuyết Minh Hay Nhất'
- content_for :seo_descriotion do
  = @seo_description || "Xem phim mới miễn phí nhanh chất lượng cao. Xem Phim online Việt Sub, Thuyết minh, lồng tiếng chất lượng HD. Xem phim nhanh online chất lượng cao"
.container.main
  = react_component("shared/FilmList", {films: @films.as_json(methods: [:poster])})
  = paginate @films
