- content_for :title do
  = "Xem phim #{@film['title']}"
- content_for :seo_title do
  = @film['seo_title']
- content_for :seo_description do
  = @film['seo_description']
= react_component('Player', {film: @film, hot_film_sort_by_week: @hot_film_sort_by_week})