- content_for :title do
  = "Xem phim #{@film['title']}"
- content_for :seo_title do
  = @film['seo_title'].strip
- content_for :seo_description do
  = @film['seo_description'].strip

= react_component('Show', {film: @film, viewCount: @sumViewByFilmId, hot_film_in_week: @hot_film_sort_by_week})