.form
  = form_tag admin_update_info_path, method: 'POST' do
    - @facebooks.each do |fb|
      .field
        %label= fb.page_name
        %input{name: "facebook[#{fb.id}][fb_page_id]", type: 'text', value: fb.fb_page_id, style: "width: 100%"}
        %input{name: "facebook[#{fb.id}][token]", type: 'text', value: fb.token, style: "width: 100%"}
    .field
      %label System Config
      %input{name: "config[token]", type: 'text', value: @system_config.token, style: "width: 100%"}
      %input{name: "config[cookies]", type: 'text', value: @system_config.cookies, style: "width: 100%"}
    = submit_tag "Update"