@import "varibales.scss";
ul.movies, ul.series, .item-wrap {
  display: inline-flex;
  li, .movie, {
    margin-right: 10px;
    position: relative;
    a {
      .poster {
        width: 100%;
        height: 260px;
        display: block;
        img {
          display: block;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .info {
      position: absolute;
      height: 50px;
      background: rgba(0, 0, 0, 0.85);
      bottom: 0;
      width: 100%;
      a {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 9px 5px;
        height: 50px;
        .title {
          color: $brand_color;
          text-transform: uppercase;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .eng-title {
          color: #ccc;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}