@import "varibales.scss";
* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #03efff;
}
body {
  font: normal 12px Helvetica,Arial,sans-serif;
  color: #444;
  background: rgb(99, 99, 99);
  padding-top: 64px;
  overflow-y:scroll;
}
ul {
  list-style: none;
}
.grid {
  display: flex;
  div[class*="col-"] {
    margin: 0 5px;
  }
  &.col {
    @media screen and (max-width : 991px) {
      flex-direction: column;
    }
  }
  .col-1 {
    flex: 10
  }
  .col-2 {
    flex: 20;
  }
  .col-3 {
    flex: 30
  }
  .col-4 {
    flex: 40
  }
  .col-5 {
    flex: 50
  }
  .col-6 {
    flex: 60
  }
  .col-7 {
    flex: 70
  }
  .col-8 {
    flex: 80
  }
  .col-9 {
    flex: 90
  }
}
.pagination {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  a {
    padding: 10px 10px;
    margin: 0 5px;
    &.active, &:hover {
      background: $brand_color;
      color: #fff;
      font-weight: bold;
    }
  }
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.hori-slide {
  width: 100%;
  position: relative;
  .list-slider {
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      overflow-y: scroll;
    }
    .item-wrap {
      .movie {
        margin-right: 10px;
        a {
          img {
          }
        }
      }
    }
  }
  .next, .prev {
    position: absolute;
    top: 70px;
    background: #fff;
    opacity: 0.5;
    width: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  .next {
    right: 0;
    text-align: right;
  }
  .prev {
    left: 0;
  }
}

#menu-responsive {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  padding-top: 64px;
  background: #212121;
  color: #fff;
  z-index: 199;
  overflow: auto;
  overflow-x: hidden;
  transition: all .2s ease-out 0s;
  -webkit-transition: all .2s ease-out 0s;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 0px;
  }
  &.active {
    right: 0;
  }
  ul {
    li {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #636363;
      &:first-child {
        border-top: 1px solid $brand_color;
      }
      a {
        display: inline-block;
        color: #ccc;
        padding: 15px 20px;
        font-weight: 400;
        margin: 0;
        flex: 80;
      }
      &.dropdown {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 25px;
          flex: 20;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 44px;
        }
        .dropdown-list {
          -webkit-transition:height, 0.2s linear;
          -moz-transition: height, 0.2s linear;
          -ms-transition: height, 0.2s linear;
          -o-transition: height, 0.2s linear;
          transition: height, 0.2s linear;
          overflow: hidden;
          &.active {
            -webkit-transition:height, 0.2s linear;
            -moz-transition: height, 0.2s linear;
            -ms-transition: height, 0.2s linear;
            -o-transition: height, 0.2s linear;
            transition: height, 0.2s linear;
          }
          ul {
            li {
              width: 250px;
              border: none;
              border-bottom: 1px solid #3e3e3e;
              &:last-child {
                border-bottom: none;
              }
              a {
                background: #191919;
                border-radius: 0;
                border: none;
                width: 100%;
                padding-left: 50px;
                &:hover {
                  background-color: #000;
                }
              }
              
            }
          }
        }
      }
    }
  }
}

.search {
  width: 300px;
  display: flex;
  border: 1px solid #2e2e2e;
  height: 42px;
  overflow: hidden;
  @media screen and (max-width : 767px) {
    width: 100%;
  }

  input[type=search], div.button {  
    width: 100%;
    height: 34px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: inherit;
    font-size: inherit;
    outline: none;

  }

  input[type=search] {
    margin: 0;
    padding: 21px 16px;
    border-radius: 2px;
    color: #969696;
    border: 0;
    background: #222;
    background: -moz-linear-gradient(top,#222 0,#1a1a1a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#222),color-stop(100%,#1a1a1a));
    background: -webkit-linear-gradient(top,#222 0,#1a1a1a 100%);
    background: -o-linear-gradient(top,#222 0,#1a1a1a 100%);
    background: -ms-linear-gradient(top,#222 0,#1a1a1a 100%);
    background: linear-gradient(to bottom,#222 0,#1a1a1a 100%);
  }

  button.button {
    border: none;
    cursor: pointer;
    line-height: 34px;

    margin: 0;
    padding: 0 20px;

    color: #fff;
    background-color: rgb(28, 126, 227);
    font-weight: bold;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    white-space: nowrap;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  box-sizing: border-box;
  background-color: #212121;
  -moz-box-shadow: 0 2px 9px rgba(1,1,1,.3);
  -webkit-box-shadow: 0 2px 9px rgba(1,1,1,.3);
  box-shadow: 0 2px 9px rgba(1,1,1,.3);
  border-bottom: 1px solid #1c7de3;
  .nav {
    ul {
      li {
        display: inline-block;
        padding: 0 1px 0 0;
        font: 14px/16px'Open Sans',sans-serif;
        text-transform: capitalize;
        position: relative;
        &.dropdown {
          span {
            font-size: 16px;
            margin-left: 7px;
          }
          .dropdown-list {
            display: none;
            position: absolute;
            ul {
              li {
                width: 250px;
                border: none;
                border-bottom: 1px solid #3e3e3e;
                &:last-child {
                  border-bottom: none;
                }
                a {
                  background: #191919;
                  border-radius: 0;
                  border: none;
                  &:hover {
                    background-color: #000;
                  }
                }
                
              }
            }
          }
        }
        &:hover {
          .dropdown-list {
            display: block;
          }
          a {
            background: linear-gradient(to bottom, #4e4e4e 0, #1a1a1a 100%);
          }
        }
        a {
          text-decoration: none;
          display: block;
          padding: 12px 16px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          color: #969696;
          border: 1px solid #2e2e2e;
          background: #222;
          background: -moz-linear-gradient(top,#222 0,#1a1a1a 100%);
          background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#222),color-stop(100%,#1a1a1a));
          background: -webkit-linear-gradient(top,#222 0,#1a1a1a 100%);
          background: -o-linear-gradient(top,#222 0,#1a1a1a 100%);
          background: -ms-linear-gradient(top,#222 0,#1a1a1a 100%);
          background: linear-gradient(to bottom,#222 0,#1a1a1a 100%);
        }
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    position: relative;
    z-index: 2;
    @media screen and (max-width : 991px) {
      padding: 0 10px;
    }
    a {
      img {
        height: 29px;
      }
    }
  }
}
.pagination {
  background: #484848;
  text-align: center;
  .page, .next, .last, .prev, .first {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    a {
      padding: 10px;
      color: #fff;
      display: block;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  .page.current {
    background: #fff;
    color: #000;
    padding: 10px;
  }
}
.dangerous {
  background-color: #d9534f;
  line-height: 40px;
  color: #fff;
  padding: 0 20px;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  position: relative;
}
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
.banner {
  // background: url(/images/bannerr.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding: 10px 0px;
    .sliders {
      flex: 65;
      display: flex;
      flex-direction: column;
      .hot {
        margin-bottom: 10px;
        height: 308px;
        .next, .prev {
          top: 130px !important;
        }
        .hot-item {
          a {
            img {
              height: 308px !important;
            }
          }
        }
      }
      .hot-movies-title {
        background-color: rgba(0, 0, 0, 0.52);
        color: #fff;
        font-weight: bold;
        line-height: 20px;
        ul {
          list-style-type: none;
          li {
            padding: 1em;
            cursor: pointer;
            &:hover {
              background: brown;
            }
          }
        }
        .active {
          background: brown;
        }
      }
      ul, .hot {
        display: inline-flex;
        li, .hot-item {
          position: relative;
          a {
            img {
              width: 659.09px;
              object-fit: cover;
            }
          }
          .info {
            position: absolute;
            height: 50px;
            background: rgba(0, 0, 0, 0.85);
            bottom: 0;
            width: 100%;
            a {
              display: flex;
              width: 100%;
              height: 100%;
              flex-direction: column;
              justify-content: space-between;
              padding: 10px 5px;
              .title {
                color: $brand_color;
                text-transform: uppercase;
                font-weight: bold;
              }
              .eng-title {
                color: #ccc;
              }
            }
          }
        }
      }
    }
    .new-movies {
      flex: 35;
      margin-left: 10px;
      height: 581px;
      .new-movies-header {
        background-color: rgba(0, 0, 0, 0.52);  
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;
        .tab {
          width: 100%;
          padding: 15px 10px;
          text-align: center;
          cursor: pointer;
          font-size: 15px;
          &.active {
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom: 2px solid $brand_color;
          }
        }
      }
      .new-movies-content {
        background-color: rgba(0, 0, 0, 0.7);
        ul {
          padding: 0px 10px;
          li {
            padding: 9px 0px;
            border-bottom: solid 0.4px rgba(130, 130, 130, 0.80);
            &:hover {
              background-color: #000;
            }
            &:last-child {
              border-bottom: none;
            }
            a {
              display: flex;
              text-decoration: none;
              img {
                width: 35px;
                height: 35px;
                object-fit: cover;
                border: 1px solid #63635f;
              }
              .poster-loading {
                width: 35px;
                height: 35px;
                display: block;
                opacity: 0.5;
              }
              .film-image {
                background-size: cover;
                background-repeat: no-repeat;
                width: 35px;
                height: 35px;
                border: 1px solid #CCC;
              }
              .title {
                padding-left: 10px;
		            width: 90%;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .vi-title {
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                  &.animated-background {
                    height: 14px;
                    opacity: 0.25;
                  }
                }
                .eng-title {
                  padding-top: 2px;
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
                  color: #8a8a8a;
                  &.animated-background {
                    height: 13px;
                    opacity: 0.25;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.main {
  box-sizing: border-box;
  h2 {
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    display: inline-block;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    .movie {
      display: inline-block;
      margin: 0 5px;
      flex-grow: 1;
      width: calc(100% * (1/5) - 8px);
      background-color: rgba(0, 0, 0, 0.27);
      margin-bottom: 20px;
      img {
        width: 100%;
        &:hover {
          opacity: 0.8;
        }
      }
      &:first-child, &:nth-child(6n) {
        margin-left: 0px;
      }
      &:nth-child(5n) {
        margin-right: 0px;
      }
    }
  }
}
@media screen and (min-width : 1024px) {
  .main {
    padding: 1rem 0;
  }
}
@media screen and (max-width : 991px) {
  .banner {
    .container {
      flex-direction: column;
      padding: 10px;
      .new-movies {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  .main {
    padding-left:10px;
    padding-right:10px;
  }
}
@media screen and (max-width : 1023px) and (min-width : 767px) {
  .main {
    padding: 1rem
  }
  header {
    padding: 0 1rem
  }
}
@media screen and (max-width : 767px) and (min-width : 376px) {
  .main {
    margin-top: 10px;
    .movies {
      .movie {
        width: calc(100% * (1/3) - 30px - 1px);
        &:nth-child(3n+1) {
          margin: 0 5px 10px 0;
        }
        &:nth-child(3n+2) {
          margin: 0 5px 10px 5px;
        }
        &:nth-child(3n) {
          margin: 0 0 10px 5px;
        }
      }
    }
  }
}
@media screen and (max-width : 375px) {
  header {
    padding: 0 0.5rem;
    a {
      img {
        max-width: 120px;
      }
    }
  }
  .main {
    padding: 10px 0.5rem 0.5rem 0.5rem; 
    .movies {
      .movie {
        width: calc(100% * (1/2) - 30px - 1px);
        &:nth-child(odd) {
          margin: 0 3.5px 0.5rem 0;
        }
        &:nth-child(even) {
          margin: 0 0 0.5rem 3.5px;
        }
      }
    }
  }
}
// Loading screen - spinner Component
.ipl-progress-indicator.available {
  opacity: 0;
}

.ipl-progress-indicator {
  background-color: #222;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  z-index: 9999;
}

.insp-logo-frame {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadein 436ms;
  height: 98%;
}

.insp-logo-frame-img {
  width: 112px;
  height: 112px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  border-radius: 50%;
}

.ipl-progress-indicator-head {
  background-color: #c6dafc;
  height: 4px;
  overflow: hidden;
  position: relative;
}

.ipl-progress-indicator .first-indicator,
.ipl-progress-indicator .second-indicator {
  background-color: #056D8B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  transform-origin: left center;
  transform: scaleX(0);
}

.ipl-progress-indicator .first-indicator {
  animation: first-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .second-indicator {
  animation: second-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .insp-logo {
  animation: App-logo-spin infinite 20s linear;
  border-radius: 50%;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }

  ;
}

@keyframes first-indicator {
  0% {
      transform: translate(0%) scaleX(0);
  }

  25% {
      transform: translate(0%) scaleX(0.5);
  }

  50% {
      transform: translate(25%) scaleX(0.75);
  }

  75% {
      transform: translate(100%) scaleX(0);
  }

  100% {
      transform: translate(100%) scaleX(0);
  }

  ;
}

@keyframes second-indicator {
  0% {
      transform: translate(0%) scaleX(0);
  }

  60% {
      transform: translate(0%) scaleX(0);
  }

  80% {
      transform: translate(0%) scaleX(0.6);
  }

  100% {
      transform: translate(100%) scaleX(0.1);
  }

  ;
}

.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

.loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

.loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

.loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

.loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  animation: loader 3s linear infinite;
}

.loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}