* {
  font-family: "arial", monospace;
}

.odometer {
  &.odometer-auto-theme, &.odometer-theme-car {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
  }
  &.odometer-auto-theme, &.odometer-theme-car {
    *display: inline;
  }
  &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
    width: 300px;
    height: 250px;
    margin-right: 20px;
    border-radius: 0;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    position: relative;
  }
  &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
    *display: inline;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-spacer, &.odometer-theme-car .odometer-digit .odometer-digit-spacer {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    visibility: hidden;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-spacer, &.odometer-theme-car .odometer-digit .odometer-digit-spacer {
    *display: inline;
    font-size: 200px;
    height: 250px;
    width: 300px;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-inner, &.odometer-theme-car .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  &.odometer-auto-theme .odometer-digit .odometer-ribbon, &.odometer-theme-car .odometer-digit .odometer-ribbon {
    // display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    width: 100%;
    height: 250px;
  }
  &.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, &.odometer-theme-car .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
    // width: 100%; gay cham
    // height: 100%;
  }
  &.odometer-auto-theme .odometer-digit .odometer-value, &.odometer-theme-car .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
    width: 100%;
    height: 100%;
    text-align: center;
    height: 250px;
    // display: flex;
    align-items: center;
  }
  &.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, &.odometer-theme-car .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
  }
  &.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
  }
  &.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -ms-transition: -ms-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  &.odometer-auto-theme, &.odometer-theme-car {
    -moz-border-radius: 0.34em;
    -webkit-border-radius: 0.34em;
    -o-border-radius: 0.34em;
    -ms-border-radius: 0.34em;
    -khtml-border-radius: 0.34em;
    border-radius: 0.34em;
    background: black;
    color: #eee0d3;
  }
  &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #333333), color-stop(60%, #101010), color-stop(80%, #333333), color-stop(100%, #333333));
    // background-image: -webkit-linear-gradient(top, #eaa935 0%, #ec932b 40%, #e4892c 60%, #ec932a 80%, #efb63a 100%);
    background: orange;
    background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
    background-image: -o-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
    background-image: -ms-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
    background-image: linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
    margin-left: -1px;
    border-radius: 0;
  }
  
  &.odometer-auto-theme .odometer-digit:first-child, &.odometer-theme-car .odometer-digit:first-child {
    -moz-border-radius: 0.2em 0 0 0.2em;
    -webkit-border-radius: 0.2em 0 0 0.2em;
    -o-border-radius: 0.2em 0 0 0.2em;
    -ms-border-radius: 0.2em 0 0 0.2em;
    -khtml-border-radius: 0.2em 0 0 0.2em;
    border-radius: 0.2em 0 0 0.2em;
    border-radius: 0;
  }
  &.odometer-auto-theme .odometer-digit:last-child, &.odometer-theme-car .odometer-digit:last-child {
    -moz-border-radius: 0 0.2em 0.2em 0;
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -o-border-radius: 0 0.2em 0.2em 0;
    -ms-border-radius: 0 0.2em 0.2em 0;
    -khtml-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0;
    border-radius: 0;
  }
  &.odometer-auto-theme .odometer-digit .odometer-digit-inner, &.odometer-theme-car .odometer-digit .odometer-digit-inner {
    // left: 0.15em;
  }
  &.odometer-auto-theme {
    &.odometer-animating-up .odometer-ribbon-inner, &.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
  }
  &.odometer-theme-car {
    &.odometer-animating-up .odometer-ribbon-inner, &.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
  }
}
.odometer-inside .odometer-digit {
  height: 250px;
  position: relative;
  &:first-child, &:nth-child(2) {
    display: none;
  }
  .overlap {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
    font-size: 200px;
    background: orange;
  }
}
body {
    background-color: #1e88e5;
    /*background: rgba(0, 0, 0, 0) linear-gradient(45deg, #00458c 1%, #66b7ff 50%, #0072d6 97%) repeat scroll -1px center / 102% 102%;*/
    background: url(/images/bg.svg) no-repeat center fixed;
    background-size: cover;
  }
  .logo {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .logo .img {
    flex: 20;
  }
  .logo .c-name {
    flex: 80;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
  }
    body button {
      outline: none; }
    body #start {
      height: 60px;
      line-height: 60px;
      padding: 0 30px;
      font-size: 35px;
      font-family: "arial", monospace;
      color: #fff;
      border-radius: 100px;
      position: fixed;
      left: 5px;
      top: 5px;
      background: green;
      cursor: pointer; }
  
  .title {
    font-family: "arial", monospace;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #8f0222;
    background: -moz-linear-gradient(top, #8f0222 0%, #8f0222 49%, #a90329 50%, #6d0019 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #8f0222), color-stop(49%, #8f0222), color-stop(50%, #a90329), color-stop(100%, #6d0019));
    background: -webkit-linear-gradient(top, #8f0222 0%, #8f0222 49%, #a90329 50%, #6d0019 100%);
    background: -o-linear-gradient(top, #8f0222 0%, #8f0222 49%, #a90329 50%, #6d0019 100%);
    background: -ms-linear-gradient(top, #8f0222 0%, #8f0222 49%, #a90329 50%, #6d0019 100%);
    background: linear-gradient(to bottom, #8f0222 0%, #8f0222 49%, #a90329 50%, #6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0 ); }
  
  .odometer.odometer-theme-car {
    text-align: center;
    font-size: 120px;
    line-height: 250px;
    display: block;
    width: 1100px;
    margin: auto;
    background: unset;
    padding: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  .result-wrap {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 43vh;
    display: none;
    height: calc(100% - 42vh);
  }
  .result-wrap .result {
    background: #00000045;
    padding: 1px 0px;
    width: 80%;
    flex: 50;
    margin: auto;
    text-align: left;
    font-family: "arial", monospace;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 7px #000;
    text-align: center;
    box-sizing: border-box;
    align-items: center; }
  .result-wrap .giaithuong {
    flex: 50;
    height: 100%;
  }
  .namtrieu, .ip8 {
    width: 32%;
    position: fixed;
    bottom: 90px;
    right: 10px;
    display: none; }
  
  .giaidacbiet, .giainhat, .giainhi, .giaiba, .giaikhuyenkhich {
    height: 100%;
    display: none;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    font-size: 40px;
    color: red;
  }
  .giaidacbiet img, .giainhat img, .giainhi img, .giaiba img, .giaikhuyenkhich img {
    height: 80%;
  }
  #logo {
    text-align: center; }
    #logo img {
      width: 100%;
      min-width: 300px; }
  
  .reset {
    position: fixed;
    bottom: 1px;
    left: 1px; }
  input {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 30px;
    outline: none;
  }