@import "varibales.scss";

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-show {
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  .left {
    padding: 10px;
    background-color: $main_inner_color;
    h1 {
      color: $brand_color;
      text-transform: uppercase;
      margin-bottom: 10px;
      span {
        display: block;
        font-weight: normal;
        color: #ccc;
        text-transform: none;
        font-size: 16px;
      }
    }
    .staring {
      clear: both;
      h2 {
        color: $vang;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px #1a1a1a;
      }
      .stars {
        .next, .prev {
          top: 50px !important;
        }
        .star {
          display: inline-block;
          margin-right: 10px;
          .star-avatar {
            height: 130px;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .star-name {
            color: $brand_color;
          }
          .in-film-name {
            color: $grey;
          }
        }
      }
    }
    .info-wrap {
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      .poster {
        flex: 50;
        .movie-img {
          position: relative;
          a {
            position: absolute;
            left: 0;
            bottom: 10px;
            text-align: center;
            margin: 0px;
            list-style: none; 
            width: 100px;
            left: 50%;
            margin-left: -50px;
          }
        }
      }
      .info {
        flex: 55;
        margin-left: 5px;
        h1 {
          color: $brand_color;
          text-transform: uppercase;
          margin-bottom: 10px;
          margin-left: 5px;
          span {
            margin: 8px auto;
            display: block;
            font-weight: normal;
            color: #ccc;
            text-transform: none;
            font-size: 16px;
          }
        }
        .summary {
          width: 100%;
          background: $sub_color;
          line-height: 24px;
          dl{
            margin: 8px;
          }
          dt {
            font-weight: bold;
            padding-left: 5px;
          }
          dt,dd{
            display: inline;
            color: #bbb;
          }
          dd{
            display: inline;
            margin: 0px 10px -4px 5px;
            font-size: 0.9em;
          }
        }
      }
    }
    .content-film {
      margin-bottom: 5px;
      h2 {
        font-weight: bold;
        color: #dacb46;
        text-transform: uppercase;
        margin-top: 5px;
      }
      p {
        color: #bbb;
        font-size: 13px;
        font-family: arial;
        line-height: 24px;
      }
    }
    .controls {
      display: flex;
      height: 30px;
      align-items: center;
      color: #ccc;
      font-weight: bold;
      background-color: #000;
      .download {
        padding: 0 20px;
      }
    }
    .servers {
      background-color: #1f1f1f;
      .server {
        .server-name {
          display: block;
          padding: 10px;
          color: #fff;
        }
        .episodes {
          list-style-type: none;
          .episode {
            display: inline-block;
            margin: 0px 5px 10px;
            &.active {
              a {
                background-color: $brand_color;
                border-color: $brand_color;
              }
            }
            a {
              color: white;
              text-decoration: none;
              border: 1px solid #ccc;
              padding: 5px;
              display: block;
              font-weight: bold;
              width: 30px;
              text-align: center;
              &:hover {
                background-color: $brand_color;
                border-color: $brand_color;
              }
            }
          }
        }
      }
    }
    .player {
      position: relative;
      .loader {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #292929;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        .loading-icon {
          margin-bottom: 10px;
          border: 8px solid #f3f3f3;
          border-radius: 50%;
          border-top: 8px solid #3498db;
          width: 50px;
          height: 50px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
      }
    }
  }
  .right {
    .box {
      background: $sub_color;
      .hot-movies-title {        
        color: #fff;
        font-weight: bold;
        line-height: 20px;
        background: #222222;
        ul {
          display: flex;
          list-style-type: none;
          li {
            border-bottom: 2px solid transparent;
            text-align: center;
            flex-grow: 1;
            padding: 1em;
            cursor: pointer;
            &:hover {
              border-bottom: 2px solid #fff; 
            }
          }
          li.active {
            color: #0af;
            border-bottom: 2px solid #0af;
          }
        }
      }

      h2 {
        text-align: left;
        background: #636363;
        padding: 20px 0 10px 0;
        font-size: 1.5em;
        color: #fff700;
        text-transform: uppercase;
        text-shadow:  1px 1px 1px #1a1a1a;
      }
      background: $main_inner_color;
      .box-content {
        .list-hot-films {
          height: 500px;
          li {
            border-bottom: 1px solid #202020;
            &:nth-child(odd) {
              background: #141414;
            }
            &:nth-child(even) {
              background: #1A1A1A;
            }            
          }
        }
        ul {
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-track {
              background: #717171; 
          }
  
          /* Handle */
          &::-webkit-scrollbar-thumb {
              background: #424242; 
          }
  
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
              background: #8c8c8c; 
          }          
          li {
            .info{
              padding: 10px;
              a {
                display: flex;
                .box-left {
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 60px;
                  height: 60px;
                  border: 1px solid #CCC;
                }
                .box-right {
                  padding-left: 10px;
                  width: 80%;
                  color: #fff;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  span {
                    display: block;
                    &.vn-name {
                      font-weight: bold;
                      color: #ccc;
                      display: block;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      width: 100%;
                      &:hover {
                        color: #eee;
                      }
                    }
                    &.eng-name {
                      color: #696969;
                      margin-top: 10px;
                      display: block;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      width: 100%;
                    }
                    &.view-count {
                      color: #696969;
                      display: block;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      width: 100%;
                      margin-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.watching {
  .movie-detail {
    display: flex;
    .poster {
      flex: 30;
      img {
        width: 100%;
      }
    }
    .info {
      background: $sub_color;
      margin-left: 5px;
      flex: 70;
      padding: 10px;
      h1 {
        span {
          margin-top: 5px;
        }
      }
      .film-description-box {
        color: $grey;
          dd {
            line-height: 24px;
          }
        }
    }
  }
}
.fb-comments.main-show {
  margin-top: 20px;
}

@media screen and (max-width : 1023px) and (min-width : 767px) {
  .main-show {
    .left{
      h1 {
        font-size: 1rem;
        span {
          padding: 0.2rem 0;
        }
      }
      .info-wrap {
        .poster {
          .movie-img{
            img {
              width: 100%;
            }
            a {
              padding: 0;
            }
          }
        }
        .info {
          position: relative;
          h1 {
            margin: 10px;
          }
          .summary {
            position: absolute;
            max-height: 276px;
            overflow: auto;
          }
        } 
      }
    }
  }
}
@media screen and (max-width : 767px) and (min-width : 376px) {
  .main-show {
    .left{
      h1 {
        font-size: 1rem;
        span {
          padding: 0.2rem 0;
        }
      }
      .info-wrap {
        .poster {
          .movie-img{
            img {
              width: 100%;
            }
            a {
              padding: 0;
            }
          }
        }
        .info {
          position: relative;
          h1 {
            margin: 10px;
          }
          .summary {
            position: absolute;
            height: 100%;
            overflow-y: scroll;
          }          
        } 
      }
    }
  }
  .watching {
    .left {
      .info {
        height: 150px;
        overflow: scroll;
        position: relative;
      }
    }

  }
}
@media screen and (max-width : 376px) {
  .main-show {
    .left{
      h1 {
        font-size: 1rem;
        span {
          padding: 0.2rem 0;
        }
      }
      .info-wrap {
        .poster {
          .movie-img{
            img {
              width: 100%;
            }
            a {
              width: 75px;
              padding: 0;
              left: 50%;
              margin-left: -35px;
            }
          }
        }
        .info {
          position: relative;
          h1 {
            margin: 10px;
          }
          .summary {
            position: absolute;
            height: 100%;
            overflow-y: scroll;
          }             
        } 
      }
    }
  }
  .watching {
    .left {
      .info {
        height: 110px;
        overflow: scroll;
        position: relative;
      }
    }

  }
}