:scss
  * {
    font-family: "arial", monospace;
  }

  .odometer {
    &.odometer-auto-theme, &.odometer-theme-car {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      position: relative;
    }
    &.odometer-auto-theme, &.odometer-theme-car {
      *display: inline;
    }
    &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      position: relative;
    }
    &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
      *display: inline;
    }
    &.odometer-auto-theme .odometer-digit .odometer-digit-spacer, &.odometer-theme-car .odometer-digit .odometer-digit-spacer {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      visibility: hidden;
    }
    &.odometer-auto-theme .odometer-digit .odometer-digit-spacer, &.odometer-theme-car .odometer-digit .odometer-digit-spacer {
      *display: inline;
    }
    &.odometer-auto-theme .odometer-digit .odometer-digit-inner, &.odometer-theme-car .odometer-digit .odometer-digit-inner {
      text-align: left;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
    &.odometer-auto-theme .odometer-digit .odometer-ribbon, &.odometer-theme-car .odometer-digit .odometer-ribbon {
      display: block;
    }
    &.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, &.odometer-theme-car .odometer-digit .odometer-ribbon-inner {
      display: block;
      -webkit-backface-visibility: hidden;
    }
    &.odometer-auto-theme .odometer-digit .odometer-value, &.odometer-theme-car .odometer-digit .odometer-value {
      display: block;
      -webkit-transform: translateZ(0);
    }
    &.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, &.odometer-theme-car .odometer-digit .odometer-value.odometer-last-value {
      position: absolute;
    }
    &.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
      -webkit-transition: -webkit-transform 2s;
      -moz-transition: -moz-transform 2s;
      -ms-transition: -ms-transform 2s;
      -o-transition: -o-transform 2s;
      transition: transform 2s;
    }
    &.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-up.odometer-animating .odometer-ribbon-inner, &.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-down .odometer-ribbon-inner {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    &.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, &.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
      -webkit-transition: -webkit-transform 2s;
      -moz-transition: -moz-transform 2s;
      -ms-transition: -ms-transform 2s;
      -o-transition: -o-transform 2s;
      transition: transform 2s;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    &.odometer-auto-theme, &.odometer-theme-car {
      -moz-border-radius: 0.34em;
      -webkit-border-radius: 0.34em;
      -o-border-radius: 0.34em;
      -ms-border-radius: 0.34em;
      -khtml-border-radius: 0.34em;
      border-radius: 0.34em;
      padding: 0.15em;
      background: black;
      color: #eee0d3;
    }
    &.odometer-auto-theme .odometer-digit, &.odometer-theme-car .odometer-digit {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(40%, #333333), color-stop(60%, #101010), color-stop(80%, #333333), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(top, #eaa935 0%, #ec932b 40%, #e4892c 60%, #ec932a 80%, #efb63a 100%);
      background-image: -moz-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
      background-image: -o-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
      background-image: -ms-linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
      background-image: linear-gradient(top, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);
      padding: 0 0.15em;
      margin-left: -1px;
    }
    &.odometer-auto-theme .odometer-digit:first-child, &.odometer-theme-car .odometer-digit:first-child {
      -moz-border-radius: 0.2em 0 0 0.2em;
      -webkit-border-radius: 0.2em 0 0 0.2em;
      -o-border-radius: 0.2em 0 0 0.2em;
      -ms-border-radius: 0.2em 0 0 0.2em;
      -khtml-border-radius: 0.2em 0 0 0.2em;
      border-radius: 0.2em 0 0 0.2em;
    }
    &.odometer-auto-theme .odometer-digit:last-child, &.odometer-theme-car .odometer-digit:last-child {
      -moz-border-radius: 0 0.2em 0.2em 0;
      -webkit-border-radius: 0 0.2em 0.2em 0;
      -o-border-radius: 0 0.2em 0.2em 0;
      -ms-border-radius: 0 0.2em 0.2em 0;
      -khtml-border-radius: 0 0.2em 0.2em 0;
      border-radius: 0 0.2em 0.2em 0;
    }
    &.odometer-auto-theme .odometer-digit .odometer-digit-inner, &.odometer-theme-car .odometer-digit .odometer-digit-inner {
      left: 0.15em;
    }
    &.odometer-auto-theme {
      &.odometer-animating-up .odometer-ribbon-inner, &.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
      }
    }
    &.odometer-theme-car {
      &.odometer-animating-up .odometer-ribbon-inner, &.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
      }
    }
  }