!!!
%html
  %head
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1,user-scalable=no' name='viewport'>
    <meta name="title" content="#{@page.title}" />
    <meta property="og:url" content="http://www.mitdac.tv" />
    <meta property="og:type"  content="films" />
    <meta property="og:title" content="#{@page.title}" />
    <meta property="og:description" content="#{@page.seo_description}" />
    <meta property="og:image" content="http://mitdac.tv/images/logo-md.svg" />
    <meta name="description" content="#{@page.seo_description}" />
    <meta content='285664295394682' property='fb:app_id'>
    <meta content='A5nfMKycGRR' property='fb:admins'>
    <meta name="referrer" content="no-referrer">
    %title #{@page.title}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'jwplayer'
    = javascript_pack_tag 'application'
    <meta name="google-site-verification" content="BLjSuHuxhxSs2X060KTtQlQeuxg2sr60tOWUlJQn4Vk" />
    <script type="text/javascript">jwplayer.key="KSCvOsRY0P0q2R1b9kgrfPV0pKu2DBk9P2iUhPmGO5A=";</script>
    %meta{:content => "jy4XDN_dqdpSRIg5mFyhRWBv89ilC-Wk8BsTW-0tDCQ", :name => "google-site-verification"}/
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-111088828-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111088828-2');
  %body
    #fb-root
    = yield
