<!DOCTYPE html>
<html lang='vi'>
<head>
<title>Quay số may mắn</title>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta charset="UTF-8">
<%= stylesheet_link_tag    'random', media: 'all' %>

<script src="./sources/jquery.min.js"></script>
<script src="./sources/howler.min.self-a99dad9fd50cf5a930919c1ea0a29c88919ca8c9436d47bf6c32bb7499bfd680.js?body=1"></script>
<script src="./sources/odometer1.js?body=1"></script>
<script src="./sources/application.self-58b1eb225e13e3709a67ff1fd3579ba47e1509e0221833d7f486543e09ddef38.js?body=1"></script>

</head>
<body style='margin: 0;'>
  <img src="/images/bannerq.png" style="width: 100%">
  <div class='odometer-example' style="font-size: 200px"></div>
</body>
</html>
